
body	{
	background-color: #3b424d;
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}
#mygame{

/*	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;*/

}
